/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
    background: rgb(0, 0, 0);
    padding: 3rem;
    color: white;
    font-family: 'Itim', cursive;
}

ul {
    list-style-type: none;
    margin: 0 0 2rem 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 30px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}
